<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Formulario</h5>
            <div class="card-body">
                <app-book-form></app-book-form>
            </div>
          </div>
        
    </div>

    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Listado Libros</h5>
            <div class="card-body">
              
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Codigo Libro</th>
                            <th>Titulo</th>
                            <th>Año</th>
                            <th>Genero</th>
                            <th># Paginas</th>
                            <th>Codigo Editorial</th>
                            <th>Codigo Autor</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lb of service.list">
                            <td (click)="populateForm(lb)">{{lb.idBook}}</td>
                            <td (click)="populateForm(lb)">{{lb.tittle}}</td>
                            <td (click)="populateForm(lb)">{{lb.year}}</td>
                            <td (click)="populateForm(lb)">{{lb.gender}}</td>
                            <td (click)="populateForm(lb)">{{lb.numberPages}}</td>
                            <td (click)="populateForm(lb)">{{lb.idEditorial}}</td>
                            <td (click)="populateForm(lb)">{{lb.idAuthor}}</td>
                            <td>
                                <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(lb.idBook)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
          </div>
        
    </div>
</div>
