<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Formulario</h5>
            <div class="card-body">
                <app-author-form></app-author-form>

            </div>
          </div>
        
    </div>

    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Listado Autores</h5>
            <div class="card-body">
              
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Codigo Author</th>
                            <th>Nombre Autor</th>
                            <th>Fecha Nacimiento</th>
                            <th>Ciudad Origen</th>
                            <th>Correo-E</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lb of service.list">
                            <td (click)="populateForm(lb)">{{lb.idAuthor}}</td>
                            <td (click)="populateForm(lb)">{{lb.fullName}}</td>
                            <td (click)="populateForm(lb)">{{lb.birthDate}}</td>
                            <td (click)="populateForm(lb)">{{lb.cityOrigin}}</td>
                            <td (click)="populateForm(lb)">{{lb.email}}</td>
                            <td>
                                <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(lb.idAuthor)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
          </div>
        
    </div>
</div>
